extends layout/main.pug

append content
    h2.col-12.mt-5 Productos
    hr
    a(class='button' href='/dashboard/products/add').btn-lg.btn-primary.col-10.mt-2.mb-5 Agregar Libro
    hr
    .row.justify-content-center
        if msg
            if msg.includes('successfully')
                h6.badge-success.p-2.rounded.col-3.text-center= msg
            else
                h6.badge-danger.p-2.rounded.col-3.text-center= msg
        table.table.col-10.mt-5
            if !products
                h3.badge-danger.p-3.rounded Database products not found!
            else
                thead
                    tr
                    th(scope='col') #
                    th(scope='col') Título
                    th(scope='col') Descripción
                    th(scope='col') Editar
                    th(scope='col') Eliminar
                tbody
                    each product in products
                        tr
                        th(scope='row')= product.id
                        td= product.title
                        td= product.description
                        td(role="button")
                            a(href="/dashboard/products/edit?id=" + product.id) ✏️
                        td(role="button")
                            a(href="/dashboard/products/delete?id=" + product.id) 🗑️    
                            